body {
  margin: 60px auto;
  width: 80%;
}
nav ul, footer ul {
  font-family: '"Courier New", Courier, monospace';
  padding: 10px;
  list-style: none;
  font-weight: regular;
}
nav ul li, footer ul li {
  display: inline;
  margin-right:20px;
}
a {
  text-decoration: none;
  color: #344;
}
a: hover {
  text-decoration: underline;
}
h1 {
  font-size: 1.25em;
  line-height: 1.2em;
  color: #999;
}
p {
  font-size: 1.25em;
  line-height:1.4em;
  color: #444;
}
footer{
  border-top: 2px solid #ff6347;
  font-size: 1em;
}
